#clockContainer{  
    position: relative;
    margin: 0 auto;
    height: 40vw;
    width: 40vw; 
    background: url(clock2.png) no-repeat;
    background-size: 100%;
    display:block; 
    background-color: white;
    top:20%;
}
#digitalclock{  
    position: relative;
    margin: 0 auto;
    background-size: 100%;
    display:none;
    
}
#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px; 
    transform-origin: bottom;
}
#hour{
    width: 1.8%;
    height: 25%;
    top: 25.6%;
    left: 48.80%;
    opacity: 0.8;  
}
#minute{
    width: 1.6%;
    height: 32%;
    top: 18%;
    left: 48.9%;
    opacity: 0.8;  
}
#second{
    width: 1%;
    height: 40%;
    top: 10%;
    left: 49.25%;
    opacity: 0.8; 
    background-color: red ;
}
*{
    margin: 0;
    padding: 0;
  }
    
  .datetime{
    color: #fff;
    background: #10101E;
    font-family: "Segoe UI", sans-serif;
    width: 70%;
    padding: 20px 20px;
    border: 3px solid #2E94E3;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    transition: 0.5s;
    transition-property: background, box-shadow;
    display:block;
    margin: 0 auto;
  }
  
  .datetime:hover{
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
  }
  
  .date{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .time{
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .time span:last-child{
    background: #2E94E3;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
  }
        
